/ game
= link_to '#', class:'btn btn-default  btn-block show-game-on-map-btn', 'data-latitude':"#{game.playground.latitude}", 'data-longitude':"#{game.playground.longitude}" do
  %span.glyphicon.glyphicon-map-marker
  %span На карте