!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Добро пожаловать на Matchete, #{@user.player.name}!
    %p
      Вы успешно зарегистрировались на нашем сервисе поиска партнеров по спорту Matchete
    %p Спасибо, удачи, и хорошего дня!
