.row
  #search-results-heading.col-md-12
    .row
      .col-md-4
        %h5 Адрес
      .col-md-4
        %h5 Площадка
      .col-md-2
        %h5 Играет
      .col-md-2
  .col-md-12
    .row
      #search-results
