/page
%a.btn.btn-default.btn-block{href: "https://www.facebook.com/sharer/sharer.php?app_id=1107741202631557&sdk=joey&u=#{page}&display=popup&ref=plugin&src=share_button", target: '_popup'}
  %span.glyphicon.glyphicon-thumbs-up
  %span Поделиться FB
